package impl

import (
	"{{.pkg}}/section/{{.entity_name}}/service"
	"{{.pkg}}/section/{{.entity_name}}/mapper"
)

type {{.TableName}}ServiceImpl struct{
	{{.TableName}}Mapper mapper.{{.TableName}}Mapper
}

// INTERFACE
var _ service.{{.TableName}}Service = (*{{.TableName}}ServiceImpl)(nil)
