package builder

import (
	"{{.pkg}}/section/{{.entity_name}}/service"
	"{{.pkg}}/section/{{.entity_name}}/service/impl"
	"{{.pkg}}/section/{{.entity_name}}/mapper"
)

func (builder *{{.TableName}}ServiceBuilder) Build() service.{{.TableName}}Service {
	if builder.isStrict && builder.{{.tableName}}ServiceImpl.{{.TableName}}Mapper == nil {
		panic("`{{.TableName}}Mapper` is required")
	}
	return builder.{{.tableName}}ServiceImpl
}

func (builder *{{.TableName}}ServiceBuilder) With{{.TableName}}Mapper(mapper mapper.{{.TableName}}Mapper) *{{.TableName}}ServiceBuilder {
	builder.{{.tableName}}ServiceImpl.{{.TableName}}Mapper = mapper
	return builder
}

// BUILDER
type {{.TableName}}ServiceBuilder struct {
  isStrict bool
	{{.tableName}}ServiceImpl *impl.{{.TableName}}ServiceImpl
}

func New{{.TableName}}ServiceBuilder() *{{.TableName}}ServiceBuilder {
	return &{{.TableName}}ServiceBuilder{
		{{.tableName}}ServiceImpl: &impl.{{.TableName}}ServiceImpl{},
	}
}

func (builder *{{.TableName}}ServiceBuilder) UseStrict() *{{.TableName}}ServiceBuilder { 
  builder.isStrict = true
  return builder
}