package {{.entity_name}}_router

import (
	"{{.pkg}}/middleware"
	"{{.pkg}}/router"
  {{.entity_name}}_controller "{{.pkg}}/section/{{.entity_name}}/controller"
	"{{.pkg}}/util"

	"github.com/gin-gonic/gin"
)

func Bind{{.TableName}}Controller (ctrl *{{.entity_name}}_controller.{{.TableName}}Controller) {
  router.RegisterRouter(func(publicRouterGroup *gin.RouterGroup, authRouterGroup *gin.RouterGroup) {
    // publicGroup := util.RoutesWrapper(publicRouterGroup.Group("/{{.table_name_hyphen}}"))
    authGroup := util.RoutesWrapper(authRouterGroup.Group("/{{.table_name_hyphen}}"))
    authGroup.Use(middleware.JwtMiddleware())
  })
}