package {{.entity_name}}_controller

import (
	"github.com/gin-gonic/gin"
	"github.com/sirupsen/logrus"
	{{.entity_name}}_service "{{.pkg}}/section/{{.entity_name}}/service"
	"{{.pkg}}/vo/resp"
)

type {{.TableName}}Controller struct {
	{{.TableName}}Service {{.entity_name}}_service.{{.TableName}}Service
	Logger *logrus.Logger
}

func (ctrl *{{.TableName}}Controller) Hello(ctx *gin.Context) *resp.TResponse {
	return resp.NewResponse().SuccessWithData("hello `{{.table_name_hyphen}}`")
}