package router

import (
	"{{.pkg}}/router"
  "{{.pkg}}/section/{{.entity_name}}/controller"

	"github.com/gin-gonic/gin"
)

func Bind{{.TableName}}Controller (ctrl *controller.{{.TableName}}Controller) {
  router.RegisterRouter(func(publicRouterGroup *gin.RouterGroup, authRouterGroup *gin.RouterGroup) {
    // publicGroup := router.RoutesWrapper(publicRouterGroup.Group("/{{.table_name_hyphen}}"))
    // authGroup := router.RoutesWrapper(authRouterGroup.Group("/{{.table_name_hyphen}}"))
  })
}