package mapper

//go:generate mockgen -source=mapper.go -destination=..\..\..\mock\{{.entity_name}}\mapper\mapper_mock.go -package=mapper_mock
type {{.TableName}}Mapper interface {
	// DEFINE METHODS
}