package builder

import (
	"{{.pkg}}/section/{{.entity_name}}/mapper"
	"{{.pkg}}/section/{{.entity_name}}/mapper/impl"
	
	"gorm.io/gorm"
)

func (builder *{{.TableName}}MapperBuilder) Build() mapper.{{.TableName}}Mapper {
	return builder.{{.tableName}}MapperImpl
}

func (builder *{{.TableName}}MapperBuilder) WithDB(DB *gorm.DB) *{{.TableName}}MapperBuilder {
  builder.{{.tableName}}MapperImpl.DB = DB
  return builder
}

// BUILDER
type {{.TableName}}MapperBuilder struct {
  isStrict bool
	{{.tableName}}MapperImpl *impl.{{.TableName}}MapperImpl
}

func New{{.TableName}}MapperBuilder() *{{.TableName}}MapperBuilder {
	return &{{.TableName}}MapperBuilder{
		{{.tableName}}MapperImpl: &impl.{{.TableName}}MapperImpl{},
	}
}

func (builder *{{.TableName}}MapperBuilder) UseStrict() *{{.TableName}}MapperBuilder { 
  builder.isStrict = true
  return builder
}