package {{.entity_name}}_mapper

//go:generate mockgen -source={{.table_name}}_mapper.go -destination=..\..\..\mock\{{.entity_name}}\mapper\{{.table_name}}_mapper_mock.go -package={{.entity_name}}_mapper_mock
type {{.TableName}}Mapper interface {
	// DEFINE METHODS
}