package impl

import (
	"{{.pkg}}/section/{{.entity_name}}/mapper"

	"gorm.io/gorm"
)

type {{.TableName}}MapperImpl struct{
	DB *gorm.DB
}

// INTERFACE
var _ mapper.{{.TableName}}Mapper = (*{{.TableName}}MapperImpl)(nil)